*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reg{
	background-image: url(images/prehistoric-jungle-background-23.jpg);
}
.main-form{
	width: 300px;
	height: 500px;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}
.main-form form{
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.center{
	margin-left: 50px;
}
header{
	display: flex;
	flex-direction: column;
}
header .up-menu{
	width: 700px;
	min-height: 50px;
	line-height: 50px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	border-radius: 0px 0px 20px 20px;
	background-color: black;
	margin-bottom: 50px;
}
header .up-menu li{
	float: left;
	margin-left:
}
header .up-menu li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
header .up-menu li a:hover{
	color: red;
	transition: 0.7s;
}
header h1{
	text-align: center;
}
header h2{
	text-align-last: center;
}
header p{
	text-align: center;
	margin-bottom: 50px;
}
.join-center{
	width: 700px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	background-color: white;
	margin-bottom: 50px;
}
.form-enter-game{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button-1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	width: 100px;
	background-color: blue;
	border-radius: 10px;
}
.button-1:hover{
	background-color: #0d3f8f;
	cursor: pointer;
}
.gallery{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 500px;
	justify-content: space-around;
}
.gallery img{
	width: 300px;
	height: 200px;
	border: 2px solid black;
}
.gallery img:hover{
	 transform: skewX(20deg);
	 transition: 2s;
}